[Unit]
Description=Gows daemon
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=$USER
ExecStart=/usr/bin/local/gows start

[Install]
WantedBy=multi-user.target